# **Etapa 2: Análisis de datos exploratorio**

En esta práctica realizaremos un poco de análisis de datos exploratorio en la búsqueda de patrones en los datos y así determinar que valores deberíamos usar para realizar predicciones en un futuro.

Veremos si podemos predecir la probabilidad de éxito basandonos en ciertas categorías.

## Objectivos

Realizar un análisis exploratorio de los datos y obtener nuestras primeras conclusiones.

***

## Importación de librerias

In [ ]:
import pandas as pd
import numpy as np

### Análisis de datos.

Carga el archivo `.csv` generado en la práctica anterior. Recuerda que primero deberás subir el archivo a google collab.

In [ ]:
df=pd.read_csv("/content/dataset_part_1 (1).csv")
display(df.head(10))
df.info()

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,Periapsis_km,LaunchSite,LandingOutcome,Flights,...,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,235.945,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,294.646,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,203.274,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,317.273,VAFB SLC 4E,False Ocean,1,...,False,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,35783.435,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.00000,Thaicom 6,GTO,35774.786,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,Thaicom,True,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.00000,CRS-3,ISS,313.486,CCSFS SLC 40,True Ocean,1,...,False,True,NaN,1.0,NASA (CRS),True,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.00000,Orbcomm-OG2-M1,LEO,202.633,CCSFS SLC 40,True Ocean,1,...,False,True,NaN,1.0,Orbcomm,True,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.00000,AsiaSat 8,GTO,35778.213,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,AsiaSat,True,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.00000,AsiaSat 6,GTO,35785.235,CCSFS SLC 40,None None,1,...,False,False,NaN,1.0,AsiaSat,True,0,B1011,-80.577366,28.561857

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FlightNumber     168 non-null    int64
 1   Date             168 non-null    object
 2   BoosterVersion   168 non-null    object
 3   PayloadMass      168 non-null    float64
 4   Payload          168 non-null    object
 5   Orbit            167 non-null    object
 6   Periapsis_km     91 non-null     float64
 7   LaunchSite       168 non-null    object
 8   LandingOutcome   168 non-null    object
 9   Flights          168 non-null    int64
 10  GridFins         168 non-null    bool
 11  Reused           168 non-null    bool
 12  Legs             168 non-null    bool
 13  LandingPad       142 non-null    object
 14  Block            168 non-null    float64
 15  Customers        164 non-null    object
 16  Mission_Outcome  167 non-null    object
 17  ReusedCount      168 non-null    int64
 18  Serial           168 non-null    object
 19  Longitude        168 non-null    float64
 20  Latitude         168 non-null    float64
dtypes: bool(3), float64(5), int64(3), object(10)
memory usage: 24.2+ KB

### Tarea 1: Calcula el número de lanzamientos en cada plataforma.

Los datos contienen diferentes plataformas como:


*   El complejo de lanzamiento de Cabo Cañaveral (VAFB SLC 4E)
*   La base de las fuerzas aéreas de Vanderberg (SLC-4E)
* El centro de lanzamientos Kennedy (KSC LC 39A).
Veamos cual de ellas es mas popular:

*Utilizando el método `value_counts()` en la columna `LaunchSite` determina el número de lanzamientos en cada plataforma.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO

df.groupby('LaunchSite').count()

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,Periapsis_km,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude
LaunchSite,,,,,,,,,,,,,,,,,,,,
CCSFS SLC 40,93,93,93,93,93,93,52,93,93,93,93,93,74,93,89,93,93,93,93,93
KSC LC 39A,49,49,49,49,49,48,24,49,49,49,49,49,45,49,49,49,49,49,49,49
VAFB SLC 4E,26,26,26,26,26,26,15,26,26,26,26,26,23,26,26,25,26,26,26,26

### Tarea 2: Calcula el número de lanzamientos para cada órbita.

Cada lanzamiento tiene como objetivo una órbita diferente, estas son las más comunes:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

*Utilizando el método `value_counts()` en la columna `Orbit` determina el número de lanzamientos en cada órbita.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
df['Orbit'].value_counts()

VLEO     54
ISS      32
GTO      31
LEO      14
PO       13
SSO      11
MEO       5
GEO       2
TLI       2
ES-L1     1
HEO       1
SO        1
Name: Orbit, dtype: int64

### Tarea 3: Calcula el número de diferentes resultados de aterrizaje, distingue los exitosos de los fallidos.

*Utilizando el método `value_counts()` en la columna `LandingOutcome` determina el número de lanzamientos en cada órbita. Asigna el resultado a la varibale `landing_outcomes`.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
landing_outcomes = df['LandingOutcome'].value_counts()
landing_outcomes

True ASDS      109
True RTLS       23
None None       19
False ASDS       7
True Ocean       5
False Ocean      2
None ASDS        2
False RTLS       1
Name: LandingOutcome, dtype: int64

Observemos que la variable `LandingOutcome` esta separada en 2 partes. 

La primera toma valores `True`,`False` y `None`. 
*   `True` implica que el cohete aterrizó con éxito.
*   `False` implica que el cohete no aterrizó con éxito
* `None` implica que el cohete no inició el aterrizaje.

La segunda parte toma valores `ASDS`,`Ocean`, `RTLS` y `None`.
* `ASDS` implica que el cohete tenía intención de aterrizar sobre un portaaviones.
* `Ocean` implica que el cohete tenía intención de aterrizar en el oceano.
* `RTLS` implica que el cohete tenía intención de aterrizar sobre una plataforma terrestre .
* `None` implica que el cohete no tenía intención de aterrizar.

Vamos a intentar ver que resultado ha tenido cada cohete en las diferentes órbitas.
*Crea un dataframe llamado `df2` con solamente las columnas `'Orbit','LandingOutcome'`. Aplica a este dataframe una agrupación por `'Orbit','LandingOutcome'` mediante `df2.groupby([Columnas])` y añade el atributo `.size()` para ver el número de resultados en cada categoría.

In [ ]:
df2 = df[['Orbit', 'LandingOutcome']]
df2.groupby(['Orbit', 'LandingOutcome']).size()

Orbit  LandingOutcome
ES-L1  True Ocean         1
GEO    True ASDS          2
GTO    False ASDS         1
       None ASDS          1
       None None         11
       True ASDS         17
       True Ocean         1
HEO    True ASDS          1
ISS    False ASDS         2
       False Ocean        1
       False RTLS         1
       None ASDS          1
       None None          3
       True ASDS         16
       True Ocean         1
       True RTLS          7
LEO    None None          2
       True ASDS          4
       True Ocean         1
       True RTLS          7
MEO    None None          1
       True ASDS          4
PO     False ASDS         1
       False Ocean        1
       None None          1
       True ASDS          8
       True Ocean         1
       True RTLS          1
SO     None None          1
SSO    True ASDS          4
       True RTLS          7
TLI    True ASDS          2
VLEO   False ASDS         3
       True ASDS         51
dtype: int64

En el resultado del anterior ejercicio podemos observar los diferentes resultados para cada órbita, que pese a ser detallados son confusos. Veamos como solucionar esto.

### Tarea 4: Crea una columna Class utilizando LandingOutcome

Previamente hemos guardado en `landing_outcomes` el recuento de los diferentes aterrizajes:

In [ ]:
print(landing_outcomes)

True ASDS      109
True RTLS       23
None None       19
False ASDS       7
True Ocean       5
False Ocean      2
None ASDS        2
False RTLS       1
Name: LandingOutcome, dtype: int64

*La variable anterior es un diccionario, utilizandola crea un conjunto con los diferentes casos donde el cohete no aterrizó satisfactoriamente. Llama a este conjunto `bad_outcomes`*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
# bad_outcomes = list(landing_outcomes.index)

bad_outcomes = set(filter(lambda x: 'True' not in x, list(landing_outcomes.index)))
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

Creemonos ahora una lista llamada `landing_class` que tomará valores 0 y 1 según si el resultado es satisfactorio o no.
* *Recorre para cada celda la columna `LandingOutcome`.*
* *Comprueba si el valor pertenece al conjunto `bad_outcomes`. Si pertenece adjunta un 0 a la lista `landing_class`, si no, adjunta un 1.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
landing_class = list((~df['LandingOutcome'].isin(bad_outcomes)).astype(int))
landing_class

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

*Añade esta lista al dataframe como una columna con nombre `Class`*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
df['Class'] = landing_class
landing_class

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

## Utilizando la columna Class.

*Calcula la media de la columna `class`. Razona que significa este valor.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
df['Class'].mean()

0.8154761904761905

Al igual que antes, podemos agrupar los lanzamientos por la órbita.
*Crea df3 donde incluyes las columnas `Orbit` y `Class`. Agrupa por `Orbit` y calcula la media.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
df3 = df[['Orbit','Class']]
df3.groupby(['Orbit']).mean()

          Class
Orbit
ES-L1  1.000000
GEO    1.000000
GTO    0.580645
HEO    1.000000
ISS    0.750000
LEO    0.857143
MEO    0.800000
PO     0.769231
SO     0.000000
SSO    1.000000
TLI    1.000000
VLEO   0.944444

Observemos que más de una órbita tiene una probabilidad de éxito 1. Entonces ¿Si lanzamos un cohete a esas órbitas 100% aterrizará correctamente?

Mostremos ahora el número de lanzamientos éxitosos y fallidos en cada órbita. 
*Aplica sobre df3 un método `groupby()` donde agrupes por las columnas `Orbit`y `Class`. Aplica el método `size()` para ralizar el conteo.

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
df3.groupby(['Orbit', 'Class']).size()

Orbit  Class
ES-L1  1         1
GEO    1         2
GTO    0        13
       1        18
HEO    1         1
ISS    0         8
       1        24
LEO    0         2
       1        12
MEO    0         1
       1         4
PO     0         3
       1        10
SO     0         1
SSO    1        11
TLI    1         2
VLEO   0         3
       1        51
dtype: int64

Podemos observar que algunas de nuestras órbitas solamente tienen un lanzamiento y este exitoso (otras solamente uno fallido). En estos casos la muestra es demasiado pequeña como para asegurar la probabilidad de éxito solamente basandonos en la órbita. Por tanto, este no parece ser el méjor predictor de la proabilidad de éxito.

Retomemos las variables analizadas anteriormente como el LaunchSite.
*Crea df4 con las columnas `Class` y `LaunchSite`. Aplica un groupby y calcula la probabilidad de éxito para cada plataforma. Observa el número total de éxitos y fracasos en cada plataforma. Razona si sería un mejor predictor que la órbita.*

In [ ]:
#INSERTA AQUÍ TU CÓDIGO
df4 = df[['Class','LaunchSite']]
df4.groupby(['LaunchSite']).mean()

                 Class
LaunchSite
CCSFS SLC 40  0.752688
KSC LC 39A    0.897959
VAFB SLC 4E   0.884615

*Exporta los datos en un archivo llamado `dataset_part_2.csv` con `index=False`. 
Descarga el archivo porque será necesario en la siguiente práctica.*

In [ ]:
df.to_csv('dataset_part_2.csv', index=False, header=True)